<div class="header">Rearrangements</div>
<div class="divider"></div>
<p>
    In the view of the ongoing Covid-19 pandemic we will be having a micro wedding of 15 guests, on Wednesday 16th
    December 2020 at Borrowash Methodist Church.
</p>
<p>
    We have a photographer and videographer to capture the day and are hoping to share a live stream of the ceremony.
    More information on this to come nearer the day.
</p>
<p>
    As we would still love to celebrate our marriage with friends and family; there will be a reaffirmation of vows and
    celebration at Denton Hall on the 18th June 2020.
</p>
<p>
    We can't wait to see you all then.
</p>
<p>
    In the meantime if you have any questions please get in touch.
</p>
<div class="divider"></div>
<p class="p2">
    <a routerLink="/contact-us">Contact us</a>
</p>