<div class="header">The Big Day</div>
<div class="divider"></div>
<p>
    After a roller coaster of a ride, we are pleased to be finally holding a celebration of our marriage on 18th June at Denton Hall and would love you all to be there.
</p>
<p>
    The wedding ceremony will start at 2pm and we ask if everyone could please be seated by 1:45pm.
</p>
<p>
    The bar at Denton Hall opens from midday and light refreshments will be provided prior to the ceremony.
</p>
<p>
    Confetti is permitted at Denton Hall, so feel free to bring some along.
</p>
<div class="divider"></div>
<p>
    Due to some rearrangements we are no longer hosting the Friday night get together.
</p>