<div class="header">The Big Day</div>
<div class="divider"></div>
<p>To avoid any confusion on the day we have provided a tentative timeline.</p>
<div class="divider"></div>
<p class="p2">
    <strong>9:00 - 10:00</strong> 
    <br/>Breakfast is served in the Carthorpe Room
</p>
<p class="p2">
    <strong>12:00</strong> 
    <br/>The bar opens. Light refreshments are available in the bar area
</p>
<p class="p2">
    <strong>14:00</strong> 
    <br/>The ceremony beings. Please be seated by 13:45
</p>
<p class="p2">
    <strong>14:30</strong> 
    <br/>Drinks reception and canapes
</p>
<p class="p2">
    <strong>16:00</strong> 
    <br/>Seating for the wedding breakfast
</p>
<p class="p2">
    <strong>16:15</strong> 
    <br/>Speeches
</p>
<p class="p2">
    <strong>19:30</strong> 
    <br/>Evening guests arrive
</p>
<p class="p2">
    <strong>20:30</strong> 
    <br/>Cutting of the cake & first dance
</p>
<p class="p2">
    <strong>20:35</strong> 
    <br/>Let's party!
</p>
<p class="p2">
    <strong>12:45</strong> 
    <br/>Last orders
</p>
<p class="p2">
    <strong>13:00</strong> 
    <br/>Carriages
</p>