<div class="header">Contact Us</div>
<div class="divider"></div>
<p>If you have any outstanding questions, feel free to contact either of us.</p>
<div class="divider"></div>
<p class="p2">Email: <a href="mailto:kateandjordan2020@gmail.com">kateandjordan2020@gmail.com</a></p>
<p class="p2">Kate's Mobile: <a href="tel:07772996928">07772996928</a></p>
<p class="p2">Jordan's Mobile: <a href="tel:07969087602">07969087602</a></p>
<div class="divider"></div>
<p>We look forward to seeing you on the day!</p>