<div class="row-fluid">
    <div class="col-sm">
        <div class="mobile-nav-button" (click)="toggleMobileMenu()">
            Menu
        </div>
    </div>
</div>
<div class="mobile-nav-divider"></div>
<div class="mobile-nav-content" [@openClose]="showMobileMenu">
    <div class="row">
        <a class="col-sm" routerLink="/home" (click)="toggleMobileMenu()" routerLinkActive="active">
            Home
        </a>
    </div>
    <div class="row">
        <a class="col-sm" routerLink="/rearrangements" (click)="toggleMobileMenu()" routerLinkActive="active">
            Rearrangements
        </a>
    </div>
    <!-- <div class="row">
        <a class="col-sm" routerLink="/night-before" (click)="toggleMobileMenu()" routerLinkActive="active">
            The Night Before
        </a>
    </div>
    <div class="row">
        <a class="col-sm" routerLink="/accommodation" (click)="toggleMobileMenu()" routerLinkActive="active">
            Accommodation
        </a>
    </div>
    <div class="row">
        <a class="col-sm" routerLink="/the-big-day" (click)="toggleMobileMenu()" routerLinkActive="active">
            The Big Day
        </a>
    </div>
    <div class="row">
        <a class="col-sm" routerLink="/getting-here" (click)="toggleMobileMenu()" routerLinkActive="active">
            Getting Here
        </a>
    </div> -->
    <div class="row">
        <a class="col-sm" routerLink="/gift-list" (click)="toggleMobileMenu()" routerLinkActive="active">
            Gift List
        </a>
    </div>
    <div class="row">
        <a class="col-sm" routerLink="/contact-us" (click)="toggleMobileMenu()" routerLinkActive="active">
            Contact us
        </a>
    </div>
    <div class="row">
        <br/>
    </div>
</div>