<div class="header">Denton Hall Accommodation</div>
<div class="divider"></div>
<p>Room prices for Denton Hall are as follows:</p>
<p class="p2"><strong>Double bedrooms - £125 per night.</strong></p>
<p class="p2"><strong>Twin bedrooms - £125 per night. £85 for single occupancy.</strong></p>
<p class="p2"><strong>Single en-suite bedrooms - £65 per night.</strong></p>
<p class="p2"><strong>Single shared bathroom bedrooms - £50 per night.</strong></p>
<p>Check-in is available from 16:00 on the Friday, or 11:00 on the Saturday. Please checkout by 10:30 on the Sunday.
</p>
<p>Payment made to Denton Hall on checkout.</p>
<div class="divider"></div>
<div class="button button-center">
    <button routerLink="/alternative-accommodation">Alternative Accommodation</button>
</div>