<div class="header">On The Day</div>
<div class="divider"></div>
<p>To avoid any confusion on the day we have provided a rough plan of action below.</p>
<div class="divider"></div>
<p class="p2">
    <strong>12:00</strong> : Denton Hall bar opens.
    <br />
    There will be a light lunch provided at Denton Hall that everyone is welcome to attend.
</p>
<p class="p2">
    <strong>12:00</strong> : Denton Hall bar opens.
    <br />
    There will be a light lunch provided at Denton Hall that everyone is welcome to attend.
</p>
<p class="p2">
    <strong>12:00</strong> : Denton Hall bar opens.
    <br />
    There will be a light lunch provided at Denton Hall that everyone is welcome to attend.
</p>