<div class="header">Gift List</div>
<div class="divider"></div>
<p>The biggest gift you can give us is your presence at the celebration of our marriage.</p>
<p> However, should you wish to give us a wedding gift,
    we have chosen a set of crockery from <a href="http://www.madeincley.co.uk" target="_blank">Made in
        Cley</a>.
    You can buy as much, or as little of the set as you like. Further details on how to contact them is on their
    website, linked below.</p>
<p>Alternatively, any contributions towards our honeymoon or home improvements would be gratefully appreciated.</p>
<p>Thank you.</p>
<div class="divider"></div>
<p class="p2">
    <a href="http://www.madeincley.co.uk" target="_blank">Made in Cley - Website</a>
</p>
<p class="p2">
    <a href="http://www.madeincley.co.uk/Servives.htm" target="_blank">Made in Cley - Wedding List Information</a>
</p>
