<div class="header">Gift List</div>
<div class="divider"></div>
<p>The biggest gift you can give us is your presence at the celebration of our marriage. However, should you wish to give us a wedding gift, 
    we have a small list at <a href="http://www.madeincley.co.uk/"  target="_blank">Made in Cley</a> (further details to follow).</p>
<p>Alternatively, any contributions towards our honeymoon or home improvements would be gratefully appreciated.</p>
<p>Thank you.</p>
<div class="divider"></div>
<p class="p2">
    <a href="http://www.madeincley.co.uk/" target="_blank">Made in Cley</a>
</p>
