<div class="row-fluid">
    <div class="col-sm navigation-header">
        Kate & Jordan
    </div>
</div>
<app-navigation-mobile class="show-mobile-menu"></app-navigation-mobile>
<div class="navigation-list">
    <div class="row">
        <a class="col-sm offset-sm-1" routerLink="/home" routerLinkActive="active">
            Home
        </a>
        <a class="col-sm" routerLink="/the-big-day" routerLinkActive="active">
            The Big Day
        </a>
        <!-- <a class="col-sm" routerLink="/rearrangements" routerLinkActive="active">
            Rearrangements
        </a> -->
        <!-- <a class="col-sm" routerLink="/live-stream" routerLinkActive="active">
            Live Stream
        </a> -->
        <!-- <a class="col-sm" routerLink="/night-before" routerLinkActive="active">
            The Night Before
        </a> -->
        <a class="col-sm" routerLink="/accommodation" routerLinkActive="active">
            Accommodation
        </a>
        <a class="col-sm" routerLink="/getting-here" routerLinkActive="active">
            Getting Here
        </a>
        <a class="col-sm" routerLink="/gift-list" routerLinkActive="active">
            Gift List
        </a>
        <a class="col-sm" routerLink="/contact-us" routerLinkActive="active">
            Contact us
        </a>
        <div class="col-sm-1">
        </div>
    </div>
</div>
<div class="navigation-divider"></div>