<div class="header">Accommodation</div>
<div class="divider"></div>
<p>Denton Hall only has a limited number of rooms, so unfortunately we are not able to accommodate everyone.</p>
<p>If you have requested to stay at Denton Hall, we will contact you directly to let you know if you have been allocated a room.</p>
<div class="divider"></div>
<div class="row">
    <div class="col-sm-12 col-lg-6 button button-left">
        <button routerLink="/denton-hall-accommodation">Denton Hall Accommodation</button>
    </div>
    <div class="col-sm-12 col-lg-6 button button-right">
        <button routerLink="/alternative-accommodation">Alternative Accommodation</button>
    </div>
</div>