<div class="header">Getting Here</div>
<div class="divider"></div>
<p>The wedding ceremony and reception is held at Denton Hall, a 5 minute drive from Ilkley.</p>
<p>If you are travelling by car, there is a free car park in the grounds at Denton Hall. It is well sign posted on arrival.</p>
<p>For those travelling by train, we suggest you get off at Ilkley Station and travel by taxi to the venue.</p>
<p class="p2">Ilkley Taxis: <a href="tel:01943603330">01943603330</a></p>
<p class="p2">Uber operates in Ilkley.</p>
<p></p>
<div class="divider"></div>
<iframe width="90%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJC8_-cnz7e0gRLvKMjp2pWqI&key=AIzaSyBn_Rtc1YKz-O_tUM3RDKXxujAER5v3Pgk" allowfullscreen>
</iframe>
