<div class="header">Live Stream</div>
<div class="divider"></div>
<p>
    On the day of the wedding we will be live streaming our ceremony. The stream will start at 10:55am and can be viewed by clicking the play button on the video below.
</p>
<div class="divider"></div>
<iframe class="utubevideo" width="560" height="315" src="https://www.youtube.com/embed/_ghaOGVT_0I" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>