@import "../../variables.scss";

.header2 {
  font-family: "Amatic SC", cursive;
  font-weight: 400;
  font-size: 2.3em;
  line-height: 1em;
}

.header3 {
  font-family: "Amatic SC", cursive;
  font-size: 1.5em;
  line-height: 1em;
}

.countdown {
  font-family: "Amatic SC", cursive;
  font-weight: 400;
  font-size: 2.3em;
  line-height: 1em;
  .bordered {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .row{
    width: 100%;
  }
}

.utubevideo{
  max-width: 560px !important;
  width: 100% !important;
}