@import "../../variables.scss";

.header2 {
  font-family: "Amatic SC", cursive;
  font-weight: 400;
  font-size: 2.3em;
  line-height: 1em;
}

.header3 {
  font-family: "Amatic SC", cursive;
  font-size: 1.5em;
  line-height: 1em;
}

.countdown {
  font-family: "Amatic SC", cursive;
  font-weight: 400;
  font-size: 2.3em;
  line-height: 1em;
  .bordered {
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 50px;
    padding-bottom: 50px;
    @media only screen and (min-width: $break-large) {
      margin-left: 50px;
      margin-right: 50px;
    }
  }
}
