<div class="header">Kate & Jordan's Wedding</div>
<div class="divider"></div>
<div class="header">Wednesday 16th December 2020</div>
<div class="header2">
    Borrowash Methodist Church<br />
    11am
</div>
<div class="divider"></div>
<div *ngIf="$timeToWedding | async as timeToWedding" class="row fluid countdown">
    <div class="col bordered">
        {{timeToWedding.days}}<br/> Days
    </div>
    <div class="col bordered">
        {{timeToWedding.hours}}<br/> Hours
    </div>
    <div class="col bordered">
        {{timeToWedding.minutes}}<br/> Minutes
    </div>
    <div class="col bordered">
        {{timeToWedding.seconds}}<br/> Seconds
    </div>
</div>